body {
  text-align: center;
}

input {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  width: 45%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.mainContainer {
  width: 65%;
  margin: 3rem auto;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.photo {
  margin: 1rem;
  width: 20%;
}

.lb-outerContainer {
  background-color: rgba(0, 0, 0, 0);
}

.lightbox .lb-image {
  margin: auto;
  border: none;
}

.lb-data .lb-close {
  display: none;
}

.lb-data {
  padding: 0;
}

 .lightbox {
  height: 75%;
  top: 15% !important;
}

.lb-dataContainer {
  width: 35% !important;
  margin: 5% auto 0 auto;
}

.lb-nav a.lb-next {
  position: absolute;
  right: -10%;
}

.lb-nav a.lb-prev {
  position: absolute;
  left: -10%;
}

.lb-nav a.lb-next, .lb-nav a.lb-prev {
    opacity: 0.2;
}

.lb-data .lb-number {
    display: none !important;
}
